<header>
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">{{ page.title }}</h1>
                <p class="lead mb-0">{{ page.subtitle }}</p>
            </div>
        </div>
    </div>
</header>